<!-- <nav class="navbar navbar-expand-lg navbar-dark h-lbg-color shadow fixd-top">
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="114.5" height="48.211"
            viewBox="0 0 114.5 48.211">
            <defs>
                <linearGradient id="a" x1="0.921" y1="-0.196" x2="-3.024" y2="6.323" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#a9d9e7" />
                    <stop offset="0.798" stop-color="#0c97ce" />
                </linearGradient>
                <linearGradient id="b" x1="1.349" y1="-0.875" x2="-2.651" y2="5.607" xlink:href="#a" />
                <linearGradient id="c" x1="0.006" y1="0.5" x2="1.006" y2="0.5" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#8fccd6" />
                    <stop offset="0.125" stop-color="#038da7" />
                    <stop offset="0.25" stop-color="#226588" />
                    <stop offset="1" stop-color="#226588" />
                </linearGradient>
                <linearGradient id="d" x1="0.935" y1="-0.212" x2="0.145" y2="1.081" xlink:href="#a" />
            </defs>
            <g transform="translate(577 -190)">
                <g transform="translate(-577 190)">
                    <circle cx="4.52" cy="4.52" r="4.52" transform="translate(10.546 19.586)" fill="#f08221" />
                    <circle cx="3.348" cy="3.348" r="3.348" transform="translate(15.735)" fill="url(#a)" />
                    <circle cx="3.348" cy="3.348" r="3.348" transform="translate(7.365)" fill="url(#b)" />
                    <path
                        d="M431.914,321.5a4.52,4.52,0,0,0-4.52,4.52v15.066a3.013,3.013,0,0,1-3.013,3.013h-3.013V326.02a4.52,4.52,0,0,0-9.039,0v15.066a3.013,3.013,0,0,1-3.013,3.013h-6.026V326.02a4.52,4.52,0,0,0-9.039,0v15.066a3.013,3.013,0,0,1-3.013,3.013H385.21V330.539s0-9.039-12.053-9.039-12.053,9.039-12.053,9.039V344.1H346.039L337,351.632h24.105s0,9.039,12.053,9.039,12.053-9.039,12.053-9.039h42.184a9.039,9.039,0,0,0,9.039-9.039V326.02A4.52,4.52,0,0,0,431.914,321.5Zm-55.743,27.118a3.013,3.013,0,1,1-6.026,0V333.553a3.013,3.013,0,1,1,6.026,0Z"
                        transform="translate(-321.934 -312.461)" fill-rule="evenodd" fill="url(#c)" />
                    <path
                        d="M289.566,321.5a15.066,15.066,0,1,0,15.066,15.066A15.066,15.066,0,0,0,289.566,321.5Zm9.333,17.987a9.806,9.806,0,0,1-18.721-.006c-.287-.92-4-1.9-4-2.92,0-1.041,3.725-2.038,4.027-2.979a9.8,9.8,0,0,1,18.673-.013c.3.945,4.084,1.952,4.084,3C302.958,337.584,299.184,338.564,298.9,339.487Z"
                        transform="translate(-274.5 -312.461)" fill-rule="evenodd" fill="url(#d)" />
                </g>
                <g transform="translate(-505.483 231.515)">
                    <path
                        d="M571.977,459.713a2.85,2.85,0,0,0,.738.326q.4.113.736.228a2.35,2.35,0,0,1,.568.274.533.533,0,0,1,.226.466.538.538,0,0,1-.088.322.586.586,0,0,1-.238.19,1.2,1.2,0,0,1-.342.093,3.161,3.161,0,0,1-.4.025,3.919,3.919,0,0,1-.987-.118,3.337,3.337,0,0,1-.792-.308l-.149,1.426a5.239,5.239,0,0,0,.955.208q.262.037.5.055t.471.018a5.638,5.638,0,0,0,1.055-.1,2.738,2.738,0,0,0,.912-.339,1.824,1.824,0,0,0,.641-.654,2.045,2.045,0,0,0,.24-1.041,1.729,1.729,0,0,0-.226-.937,1.811,1.811,0,0,0-.566-.566,2.719,2.719,0,0,0-.738-.321q-.4-.113-.736-.217a2.681,2.681,0,0,1-.568-.24.451.451,0,0,1-.226-.4.458.458,0,0,1,.12-.335.732.732,0,0,1,.3-.181,1.505,1.505,0,0,1,.378-.072q.2-.014.364-.014a4.006,4.006,0,0,1,.736.068,2.93,2.93,0,0,1,.7.226l.109-1.335a4.568,4.568,0,0,0-.758-.174,6.029,6.029,0,0,0-.908-.066,5.346,5.346,0,0,0-1,.1,2.886,2.886,0,0,0-.9.312,1.919,1.919,0,0,0-.665.607,1.717,1.717,0,0,0-.258.969,1.617,1.617,0,0,0,.792,1.508Z"
                        transform="translate(-571.185 -456.222)" fill="#226588" />
                    <rect width="1.72" height="6.474" transform="translate(5.944 0.109)" fill="#226588" />
                    <path
                        d="M609.795,458.176h.023l1.576,4.971h1.585l1.648-4.971h.023l-.032,4.971h1.689v-6.474h-2.612l-1.44,4.305h-.018l-1.372-4.305h-2.716v6.474h1.689Z"
                        transform="translate(-599.237 -456.564)" fill="#226588" />
                    <path
                        d="M646.866,461.766H649.3l.48,1.381h1.892l-2.495-6.474H647.06l-2.458,6.474h1.752Zm1.231-3.758h.023l.77,2.535h-1.625Z"
                        transform="translate(-626.905 -456.564)" fill="#226588" />
                    <path d="M678.443,460.376h2.042v2.771h1.725v-6.474h-1.725v2.476h-2.042v-2.476h-1.725v6.474h1.725Z"
                        transform="translate(-651.279 -456.564)" fill="#226588" />
                </g>
            </g>
        </svg>

        <a class="navbar-brand" href="#">
            SIMAH KPI platform - Administration Panel
        </a>
    </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark h-sbg-color shadow">
    <div class="container h-20">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="dropbtn ">SIMAH KPI platform - Administration Panel</div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="dropbtn" (click)="logout()">Logout</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

 -->

<!-- <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <button class="navbar-toggler order-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item">
                    <a routerLink="/homeNavbar" class="nav-link">Home</a>
                </li>
            </ul>
        </div>



        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item">
                <div class="dropdown">
                    <div class="nav-link">SIMAH KPI platform - Administration Panel</div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-bs-toggle="dropdown" href="#" style="padding: 10px;margin: 0 10px 0 0;">
                    <i class="ion ion-android-notifications-none" style="font-size: 23px;font-weight: 900;"></i>
                    <span class="badge badge-warning navbar-badge"
                        style="right: -5px;top: 3px;padding: 2px 4px;">{{notifications.length}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end font-size-18">
                    <span class="dropdown-item dropdown-header"
                        *ngIf="notifications.length > 0">{{notifications.length}} Notifications</span>
                    <span class="dropdown-item dropdown-header" *ngIf="notifications.length == 0">no new
                        Notifications</span>

                    <div class="dropdown-divider"></div>

                    <span *ngFor="let notification of notifications | slice:0:3;">
                        <a (click)="seeNotification(notification)" class="dropdown-item notification-item">
                            <i class="fas fa-envelope mr-2"></i> {{notification.message}}
                            <span class="float-end text-muted text-sm">{{notification.dateCalculation}}</span>
                        </a>
                        <div class="dropdown-divider"></div>
                    </span>

                    <a routerLink="/notifications" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-block btn-outline-secondary" (click)="logout()">Logout</button>
                </div>
            </li>
        </ul>
    </div>
</nav> -->



<nav class="main-header navbar navbar-expand navbar-white navbar-light">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a routerLink="/homeNavbar" class="nav-link">Home</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" data-bs-toggle="dropdown" href="#">
                <i class="far fa-bell" style="font-size: 23px;font-weight: 900;"></i>
                <span class="badge badge-warning navbar-badge"
                    style="right: -5px;top: 3px;padding: 2px 4px;">{{notifications.length}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end font-size-18" style="right: 0 !important; left: unset;">
                <span class="dropdown-item dropdown-header" *ngIf="notifications.length > 0">{{notifications.length}}
                    Notifications</span>
                <span class="dropdown-item dropdown-header" *ngIf="notifications.length == 0">no new
                    Notifications</span>

                <div class="dropdown-divider"></div>

                <span *ngFor="let notification of notifications | slice:0:3;">
                    <a (click)="seeNotification(notification)" class="dropdown-item notification-item">
                        <i class="fas fa-envelope mr-2"></i> {{notification.message}}
                        <span class="float-end text-muted text-sm">{{notification.dateCalculation}}</span>
                    </a>
                    <div class="dropdown-divider"></div>
                </span>

                <a routerLink="/notifications" class="dropdown-item dropdown-footer">See All Notifications</a>
            </div>
        </li>

        <li class="nav-item">
            <a routerLink="messages" class="nav-link" data-bs-toggle="dropdown" (click)="getMyNewMessages()">
                <i class="fas fa-envelope mr-2" style="font-size: 23px;font-weight: 900;"></i>
                <span class="badge badge-warning navbar-badge"
                style="right: 5px;top: 3px;padding: 2px 4px;">{{messagesCount}}</span>
            </a>
        </li>

        <!-- <li class="nav-item">
            <a routerLink="profile" class="nav-link" data-bs-toggle="dropdown" >
                <i class="ion ion-android-settings" style="font-size: 23px;font-weight: 900;"></i>
            </a>
        </li> -->
        <li class="nav-item">
            <a (click)="logout()" routerLink="#" class="nav-link" data-bs-toggle="dropdown"
                style="padding: 10px;margin: 0 10px 0 0;">
                <!-- <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69.96 51.19">
                    <path class="cls-1" d="m36.64,32.36h-14.81V11.54h14.81" />
                    <line class="cls-1" x1="29.23" y1="21.95" x2="44.15" y2="21.95" />
                    <path class="cls-2" d="m40.8,26.1l-.69-.74,3.66-3.4-3.66-3.4.69-.74,4.46,4.14-4.46,4.14Z" />
                </svg> -->
                <i class="fa fa-sign-out" style="font-size: 23px;font-weight: 900;"></i>
            </a>
        </li>
    </ul>
</nav>