.bg-purp {
  background-color: #01426A;
}

.bg-sec {
  background-color: #256BA2;
}

/* ng-multiselect-dropdown validations */
:host ::ng-deep .is-invalid .multiselect-dropdown div .dropdown-btn {
  border: 1px solid #D3001F;
}

:host ::ng-deep .is-valid .multiselect-dropdown div .dropdown-btn {
  border: 1px solid #28a745;
}


:host ::ng-deep .multiselect-dropdown>div>span.dropdown-btn {
  display: inline-flex !important;
}

.multiselect-dropdown .dropdown-btn {
  display: inline-flex !important;
}

:host ::ng-deep .multiselect-dropdown>div>span.dropdown-btn>span {
  padding: 10px 0px 10px 30px !important;
}

.page-title i {
    font-size: 3.5rem;
}
