USE [master]
GO
/****** Object:  Database [SIMAH.KPI.EMPTY]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE DATABASE [SIMAH.KPI.EMPTY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SIMAH.KPI.EMPTY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SIMAH.KPI.EMPTY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SIMAH.KPI.EMPTY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SIMAH.KPI.EMPTY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SIMAH.KPI.EMPTY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SIMAH.KPI.EMPTY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[IsManager] [bit] NOT NULL,
	[OrganizationUnitId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[LastName] [nvarchar](30) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[FirstName] [nvarchar](30) NULL,
	[UserEnabled] [bit] NOT NULL,
	[ProfilePicturePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachments]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Size] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Path] [nvarchar](max) NULL,
	[AttachmentType] [int] NOT NULL,
	[AttachedToId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_Attachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditTrail]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditTrail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActionName] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
	[AffectedColumns] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[OldValues] [nvarchar](max) NULL,
	[RowId] [nvarchar](max) NULL,
	[TableName] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[ActionById] [int] NULL,
 CONSTRAINT [PK_AuditTrail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CamundaUsers]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CamundaUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[_Id] [nvarchar](max) NULL,
	[_FirstName] [nvarchar](max) NULL,
	[_LastName] [nvarchar](max) NULL,
	[_Email] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_CamundaUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[AutherId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
	[UnitKPIId] [int] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataCustodians]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataCustodians](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_DataCustodians] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataSponsors]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataSponsors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_DataSponsors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KPICopies]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPICopies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ValueSense] [bit] NOT NULL,
	[ValueLowerLimit] [int] NULL,
	[ValueHigherLimit] [int] NULL,
	[MeasurmentUnitId] [int] NOT NULL,
	[DataCustodianId] [int] NOT NULL,
	[DataSponsorId] [int] NOT NULL,
	[KPITemplateId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_KPICopies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KPICopyObjective]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPICopyObjective](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ObjectiveId] [int] NOT NULL,
	[KPICopyId] [int] NOT NULL,
	[Weight] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_KPICopyObjective] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KPICopyTags]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPICopyTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KPICopyId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_KPICopyTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KPIObjective]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPIObjective](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ObjectiveId] [int] NOT NULL,
	[KPIId] [int] NOT NULL,
	[Weight] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_KPIObjective] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KPIs]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPIs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ValueSense] [bit] NOT NULL,
	[ValueLowerLimit] [int] NULL,
	[ValueHigherLimit] [int] NULL,
	[DataCustodianId] [int] NOT NULL,
	[DataSponsorId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
	[MeasurmentUnitId] [int] NOT NULL,
 CONSTRAINT [PK_KPIs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KPITags]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPITags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KPIId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_KPITags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasurmentUnits]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasurmentUnits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_MeasurmentUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[SenderId] [int] NOT NULL,
	[ReceiverId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
	[Seen] [bit] NOT NULL,
	[MessageType] [int] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Objectives]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objectives](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Target] [int] NULL,
	[MeasurmentUnitId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_Objectives] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectiveScorecards]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectiveScorecards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ObjectiveId] [int] NOT NULL,
	[ScorecardId] [int] NOT NULL,
	[ObjectiveProspective] [int] NOT NULL,
	[Weight] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_ObjectiveScorecards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrganizationUnits]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationUnits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NOT NULL,
	[IsDCEOConected] [bit] NOT NULL,
	[DCEOId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
	[ManagerId] [int] NULL,
 CONSTRAINT [PK_OrganizationUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionGroups]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_PermissionGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessInstances]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessInstances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[_Id] [nvarchar](max) NULL,
	[_DefinitionId] [nvarchar](max) NULL,
	[_BusinessKey] [nvarchar](max) NULL,
	[_CaseInstanceId] [nvarchar](max) NULL,
	[_Ended] [bit] NOT NULL,
	[_Suspended] [bit] NOT NULL,
	[_TenantId] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_ProcessInstances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scorecards]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scorecards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_Scorecards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Strategies]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Strategies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[StatusId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_Strategies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StrategyScorecards]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StrategyScorecards](
	[StrategyId] [int] NOT NULL,
	[ScorecardId] [int] NOT NULL,
	[Weight] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_StrategyScorecards] PRIMARY KEY CLUSTERED 
(
	[ScorecardId] ASC,
	[StrategyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StrategyStatuses]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StrategyStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[Code] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_StrategyStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitKPI]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitKPI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Target] [int] NOT NULL,
	[ReportingFrequency] [int] NOT NULL,
	[AchievementDate] [datetime2](7) NULL,
	[Weight] [int] NOT NULL,
	[Value] [int] NOT NULL,
	[ReportingDate] [datetime2](7) NULL,
	[StatusId] [int] NOT NULL,
	[CurrentRound] [int] NOT NULL,
	[UnitKPIRequestId] [int] NOT NULL,
	[KPICopyId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
	[OwnerName] [nvarchar](max) NULL,
	[IsAchieved] [bit] NOT NULL,
 CONSTRAINT [PK_UnitKPI] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitKPIRequestHistories]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitKPIRequestHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[UnitKPIRequestId] [int] NOT NULL,
	[UnitKPIRequestStatusId] [int] NOT NULL,
	[RequestedById] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_UnitKPIRequestHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitKPIRequests]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitKPIRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResponseDueDate] [datetime2](7) NOT NULL,
	[UnitKPIRequestStatusId] [int] NOT NULL,
	[StrategyId] [int] NOT NULL,
	[OrganizationUnitId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
	[ProcessInstanceId] [int] NULL,
	[IsDraft] [bit] NOT NULL,
	[EscalationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UnitKPIRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitKPIRequestStatuses]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitKPIRequestStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[Code] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_UnitKPIRequestStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitKPIStatuses]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitKPIStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[Code] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_UnitKPIStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserHistoryLogs]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserHistoryLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Transaction] [nvarchar](max) NULL,
	[Date] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_UserHistoryLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermissionGroups]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissionGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
	[PermissionGroupId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_UserPermissionGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTasks]    Script Date: 2/28/2023 4:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[_Id] [nvarchar](max) NULL,
	[_ExecutionId] [nvarchar](max) NULL,
	[_ProcessDefinitionId] [nvarchar](max) NULL,
	[_ProcessInstanceId] [nvarchar](max) NULL,
	[_TaskDefinitionKey] [nvarchar](max) NULL,
	[_CaseExecutionId] [nvarchar](max) NULL,
	[_CaseDefinitionId] [nvarchar](max) NULL,
	[_FormKey] [nvarchar](max) NULL,
	[_Name] [nvarchar](max) NULL,
	[_Assignee] [nvarchar](max) NULL,
	[_DelegationState] [nvarchar](max) NULL,
	[_Description] [nvarchar](max) NULL,
	[_Owner] [nvarchar](max) NULL,
	[_ParentTaskId] [nvarchar](max) NULL,
	[_Priority] [int] NOT NULL,
	[_CaseInstanceId] [nvarchar](max) NULL,
	[_TenantId] [nvarchar](max) NULL,
	[_Suspended] [bit] NOT NULL,
	[ProcessInstanceId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_UserTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220214101230_NewInit', N'5.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220214110553_OrganizationUnitId', N'5.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220215095646_UnitKPI', N'5.0.13')
GO
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, N'SPMO', N'SPMO', N'3ef58dd6-695c-4954-8701-c1b8219e6dce')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, N'KPI_OWNER', N'KPI_OWNER', N'27634d73-1bb6-43a9-ae00-59df19125af5')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (3, N'DATA_SPONSER', N'DATA_SPONSER', N'f404696c-a13f-46cb-82a3-d0915b28be6d')
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (3, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (4, 2)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (5, 3)
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[CamundaUsers] ON 

INSERT [dbo].[CamundaUsers] ([Id], [_Id], [_FirstName], [_LastName], [_Email], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled], [UserId]) VALUES (1, N'SPMO', N'SPMO', N'USER', N'spmo@simah.com', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, NULL, NULL, NULL, NULL, 1, 3)
INSERT [dbo].[CamundaUsers] ([Id], [_Id], [_FirstName], [_LastName], [_Email], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled], [UserId]) VALUES (2, N'OWNER', N'KPI OWNER', N'USER', N'owner@simah.com', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, NULL, NULL, NULL, NULL, 1, 4)
INSERT [dbo].[CamundaUsers] ([Id], [_Id], [_FirstName], [_LastName], [_Email], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled], [UserId]) VALUES (3, N'SPONSER', N'DATA SPONSER', N'USER', N'sponser@simah.com', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, NULL, NULL, NULL, NULL, 1, 5)
SET IDENTITY_INSERT [dbo].[CamundaUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[MeasurmentUnits] ON 

INSERT [dbo].[MeasurmentUnits] ([Id], [Name], [Value], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (1, N'Money', N'SAR', CAST(N'2023-02-28T16:48:17.5857904' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[MeasurmentUnits] ([Id], [Name], [Value], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (2, N'Number', N'#', CAST(N'2023-02-28T16:48:17.5857935' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[MeasurmentUnits] ([Id], [Name], [Value], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (3, N'Percentage', N'%', CAST(N'2023-02-28T16:48:17.5857938' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[MeasurmentUnits] OFF
GO
SET IDENTITY_INSERT [dbo].[OrganizationUnits] ON 

INSERT [dbo].[OrganizationUnits] ([Id], [Name], [Code], [IsDCEOConected], [DCEOId], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled], [ManagerId]) VALUES (1, N'Default', N'Def', 0, NULL, CAST(N'2023-02-28T16:51:51.6645312' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[OrganizationUnits] OFF
GO
SET IDENTITY_INSERT [dbo].[PermissionGroups] ON 

INSERT [dbo].[PermissionGroups] ([Id], [Name], [Code], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (1, N'SPMO', N'SPMO', CAST(N'2023-02-28T16:48:17.6185041' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[PermissionGroups] ([Id], [Name], [Code], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (2, N'KPI OWNER', N'KPI_OWNER', CAST(N'2023-02-28T16:48:17.6185082' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[PermissionGroups] ([Id], [Name], [Code], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (3, N'DATA CUSTADION', N'DATA_CUSTADION', CAST(N'2023-02-28T16:48:17.6185086' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[PermissionGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[StrategyStatuses] ON 

INSERT [dbo].[StrategyStatuses] ([Id], [Value], [Code], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (1, N'Created', 1, CAST(N'2023-02-28T16:48:16.2841106' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[StrategyStatuses] ([Id], [Value], [Code], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (2, N'Started', 2, CAST(N'2023-02-28T16:48:16.2854226' AS DateTime2), 1, CAST(N'2023-02-28T16:48:16.2854238' AS DateTime2), NULL, NULL, NULL, 1)
INSERT [dbo].[StrategyStatuses] ([Id], [Value], [Code], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (3, N'Not Started', 3, CAST(N'2023-02-28T16:48:16.2854963' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[StrategyStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitKPIRequestStatuses] ON 

INSERT [dbo].[UnitKPIRequestStatuses] ([Id], [Value], [Code], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (1, N'Requested', 1, CAST(N'2023-02-28T16:48:17.5262009' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[UnitKPIRequestStatuses] ([Id], [Value], [Code], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (2, N'Waiting For SPMO Approval', 2, CAST(N'2023-02-28T16:48:17.5262040' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[UnitKPIRequestStatuses] ([Id], [Value], [Code], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (3, N'Returned - By SPMO', 3, CAST(N'2023-02-28T16:48:17.5262042' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[UnitKPIRequestStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitKPIStatuses] ON 

INSERT [dbo].[UnitKPIStatuses] ([Id], [Value], [Code], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (1, N'Under Reporting Period', 1, CAST(N'2023-02-28T16:48:17.5572406' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[UnitKPIStatuses] ([Id], [Value], [Code], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (2, N'Waiting For Reporting', 2, CAST(N'2023-02-28T16:48:17.5572436' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[UnitKPIStatuses] ([Id], [Value], [Code], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled]) VALUES (3, N'Waiting For Data Sponser Approval', 3, CAST(N'2023-02-28T16:48:17.5572438' AS DateTime2), 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[UnitKPIStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPermissionGroups] ON 

INSERT [dbo].[UserPermissionGroups] ([Id], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled], [PermissionGroupId], [UserId]) VALUES (1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, NULL, NULL, NULL, NULL, 1, 1, 3)
INSERT [dbo].[UserPermissionGroups] ([Id], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled], [PermissionGroupId], [UserId]) VALUES (2, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, NULL, NULL, NULL, NULL, 1, 2, 4)
INSERT [dbo].[UserPermissionGroups] ([Id], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeletedAt], [DeletedBy], [IsEnabled], [PermissionGroupId], [UserId]) VALUES (3, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, NULL, NULL, NULL, NULL, 1, 4, 5)
SET IDENTITY_INSERT [dbo].[UserPermissionGroups] OFF
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers_OrganizationUnitId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_OrganizationUnitId] ON [dbo].[AspNetUsers]
(
	[OrganizationUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditTrail_ActionById]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditTrail_ActionById] ON [dbo].[AuditTrail]
(
	[ActionById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CamundaUsers_UserId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_CamundaUsers_UserId] ON [dbo].[CamundaUsers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_AutherId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_AutherId] ON [dbo].[Comments]
(
	[AutherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_UnitKPIId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_UnitKPIId] ON [dbo].[Comments]
(
	[UnitKPIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DataCustodians_UserId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_DataCustodians_UserId] ON [dbo].[DataCustodians]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DataSponsors_UserId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_DataSponsors_UserId] ON [dbo].[DataSponsors]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPICopies_DataCustodianId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPICopies_DataCustodianId] ON [dbo].[KPICopies]
(
	[DataCustodianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPICopies_DataSponsorId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPICopies_DataSponsorId] ON [dbo].[KPICopies]
(
	[DataSponsorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPICopies_DepartmentId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPICopies_DepartmentId] ON [dbo].[KPICopies]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPICopies_KPITemplateId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPICopies_KPITemplateId] ON [dbo].[KPICopies]
(
	[KPITemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPICopies_MeasurmentUnitId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPICopies_MeasurmentUnitId] ON [dbo].[KPICopies]
(
	[MeasurmentUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPICopyObjective_KPICopyId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPICopyObjective_KPICopyId] ON [dbo].[KPICopyObjective]
(
	[KPICopyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPICopyObjective_ObjectiveId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPICopyObjective_ObjectiveId] ON [dbo].[KPICopyObjective]
(
	[ObjectiveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPICopyTags_KPICopyId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPICopyTags_KPICopyId] ON [dbo].[KPICopyTags]
(
	[KPICopyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPICopyTags_TagId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPICopyTags_TagId] ON [dbo].[KPICopyTags]
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPIObjective_KPIId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPIObjective_KPIId] ON [dbo].[KPIObjective]
(
	[KPIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPIObjective_ObjectiveId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPIObjective_ObjectiveId] ON [dbo].[KPIObjective]
(
	[ObjectiveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPIs_DataCustodianId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPIs_DataCustodianId] ON [dbo].[KPIs]
(
	[DataCustodianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPIs_DataSponsorId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPIs_DataSponsorId] ON [dbo].[KPIs]
(
	[DataSponsorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPIs_MeasurmentUnitId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPIs_MeasurmentUnitId] ON [dbo].[KPIs]
(
	[MeasurmentUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPITags_KPIId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPITags_KPIId] ON [dbo].[KPITags]
(
	[KPIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KPITags_TagId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_KPITags_TagId] ON [dbo].[KPITags]
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_ReceiverId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_ReceiverId] ON [dbo].[Notifications]
(
	[ReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_SenderId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_SenderId] ON [dbo].[Notifications]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Objectives_MeasurmentUnitId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Objectives_MeasurmentUnitId] ON [dbo].[Objectives]
(
	[MeasurmentUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ObjectiveScorecards_ObjectiveId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_ObjectiveScorecards_ObjectiveId] ON [dbo].[ObjectiveScorecards]
(
	[ObjectiveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ObjectiveScorecards_ScorecardId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_ObjectiveScorecards_ScorecardId] ON [dbo].[ObjectiveScorecards]
(
	[ScorecardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Strategies_StatusId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Strategies_StatusId] ON [dbo].[Strategies]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StrategyScorecards_StrategyId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_StrategyScorecards_StrategyId] ON [dbo].[StrategyScorecards]
(
	[StrategyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnitKPI_KPICopyId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnitKPI_KPICopyId] ON [dbo].[UnitKPI]
(
	[KPICopyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnitKPI_StatusId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnitKPI_StatusId] ON [dbo].[UnitKPI]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnitKPI_UnitKPIRequestId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnitKPI_UnitKPIRequestId] ON [dbo].[UnitKPI]
(
	[UnitKPIRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnitKPIRequestHistories_RequestedById]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnitKPIRequestHistories_RequestedById] ON [dbo].[UnitKPIRequestHistories]
(
	[RequestedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnitKPIRequestHistories_UnitKPIRequestStatusId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnitKPIRequestHistories_UnitKPIRequestStatusId] ON [dbo].[UnitKPIRequestHistories]
(
	[UnitKPIRequestStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnitKPIRequests_OrganizationUnitId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnitKPIRequests_OrganizationUnitId] ON [dbo].[UnitKPIRequests]
(
	[OrganizationUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnitKPIRequests_ProcessInstanceId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnitKPIRequests_ProcessInstanceId] ON [dbo].[UnitKPIRequests]
(
	[ProcessInstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnitKPIRequests_StrategyId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnitKPIRequests_StrategyId] ON [dbo].[UnitKPIRequests]
(
	[StrategyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnitKPIRequests_UnitKPIRequestStatusId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnitKPIRequests_UnitKPIRequestStatusId] ON [dbo].[UnitKPIRequests]
(
	[UnitKPIRequestStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserHistoryLogs_UserId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserHistoryLogs_UserId] ON [dbo].[UserHistoryLogs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPermissionGroups_PermissionGroupId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserPermissionGroups_PermissionGroupId] ON [dbo].[UserPermissionGroups]
(
	[PermissionGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPermissionGroups_UserId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserPermissionGroups_UserId] ON [dbo].[UserPermissionGroups]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTasks_ProcessInstanceId]    Script Date: 2/28/2023 4:52:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserTasks_ProcessInstanceId] ON [dbo].[UserTasks]
(
	[ProcessInstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [OrganizationUnitId]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [AccessFailedCount]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [LockoutEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [PhoneNumberConfirmed]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [TwoFactorEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [UserEnabled]
GO
ALTER TABLE [dbo].[AuditTrail] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[CamundaUsers] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT ((0)) FOR [UnitKPIId]
GO
ALTER TABLE [dbo].[KPICopies] ADD  DEFAULT ((0)) FOR [Code]
GO
ALTER TABLE [dbo].[KPIs] ADD  DEFAULT ((0)) FOR [MeasurmentUnitId]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Seen]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [MessageType]
GO
ALTER TABLE [dbo].[UnitKPI] ADD  DEFAULT ((0)) FOR [Target]
GO
ALTER TABLE [dbo].[UnitKPI] ADD  DEFAULT ((0)) FOR [StatusId]
GO
ALTER TABLE [dbo].[UnitKPI] ADD  DEFAULT ((1)) FOR [CurrentRound]
GO
ALTER TABLE [dbo].[UnitKPI] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsAchieved]
GO
ALTER TABLE [dbo].[UnitKPIRequests] ADD  DEFAULT ((0)) FOR [OrganizationUnitId]
GO
ALTER TABLE [dbo].[UnitKPIRequests] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDraft]
GO
ALTER TABLE [dbo].[UnitKPIRequests] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [EscalationDate]
GO
ALTER TABLE [dbo].[UserPermissionGroups] ADD  DEFAULT ((0)) FOR [PermissionGroupId]
GO
ALTER TABLE [dbo].[UserPermissionGroups] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_OrganizationUnits_OrganizationUnitId] FOREIGN KEY([OrganizationUnitId])
REFERENCES [dbo].[OrganizationUnits] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_OrganizationUnits_OrganizationUnitId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AuditTrail]  WITH CHECK ADD  CONSTRAINT [FK_AuditTrail_AspNetUsers_ActionById] FOREIGN KEY([ActionById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AuditTrail] CHECK CONSTRAINT [FK_AuditTrail_AspNetUsers_ActionById]
GO
ALTER TABLE [dbo].[CamundaUsers]  WITH CHECK ADD  CONSTRAINT [FK_CamundaUsers_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CamundaUsers] CHECK CONSTRAINT [FK_CamundaUsers_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_AspNetUsers_AutherId] FOREIGN KEY([AutherId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_AspNetUsers_AutherId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_UnitKPI_UnitKPIId] FOREIGN KEY([UnitKPIId])
REFERENCES [dbo].[UnitKPI] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_UnitKPI_UnitKPIId]
GO
ALTER TABLE [dbo].[DataCustodians]  WITH CHECK ADD  CONSTRAINT [FK_DataCustodians_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DataCustodians] CHECK CONSTRAINT [FK_DataCustodians_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[DataSponsors]  WITH CHECK ADD  CONSTRAINT [FK_DataSponsors_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DataSponsors] CHECK CONSTRAINT [FK_DataSponsors_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[KPICopies]  WITH CHECK ADD  CONSTRAINT [FK_KPICopies_DataCustodians_DataCustodianId] FOREIGN KEY([DataCustodianId])
REFERENCES [dbo].[DataCustodians] ([Id])
GO
ALTER TABLE [dbo].[KPICopies] CHECK CONSTRAINT [FK_KPICopies_DataCustodians_DataCustodianId]
GO
ALTER TABLE [dbo].[KPICopies]  WITH CHECK ADD  CONSTRAINT [FK_KPICopies_DataSponsors_DataSponsorId] FOREIGN KEY([DataSponsorId])
REFERENCES [dbo].[DataSponsors] ([Id])
GO
ALTER TABLE [dbo].[KPICopies] CHECK CONSTRAINT [FK_KPICopies_DataSponsors_DataSponsorId]
GO
ALTER TABLE [dbo].[KPICopies]  WITH CHECK ADD  CONSTRAINT [FK_KPICopies_KPIs_KPITemplateId] FOREIGN KEY([KPITemplateId])
REFERENCES [dbo].[KPIs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KPICopies] CHECK CONSTRAINT [FK_KPICopies_KPIs_KPITemplateId]
GO
ALTER TABLE [dbo].[KPICopies]  WITH CHECK ADD  CONSTRAINT [FK_KPICopies_MeasurmentUnits_MeasurmentUnitId] FOREIGN KEY([MeasurmentUnitId])
REFERENCES [dbo].[MeasurmentUnits] ([Id])
GO
ALTER TABLE [dbo].[KPICopies] CHECK CONSTRAINT [FK_KPICopies_MeasurmentUnits_MeasurmentUnitId]
GO
ALTER TABLE [dbo].[KPICopies]  WITH CHECK ADD  CONSTRAINT [FK_KPICopies_OrganizationUnits_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[OrganizationUnits] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KPICopies] CHECK CONSTRAINT [FK_KPICopies_OrganizationUnits_DepartmentId]
GO
ALTER TABLE [dbo].[KPICopyObjective]  WITH CHECK ADD  CONSTRAINT [FK_KPICopyObjective_KPICopies_KPICopyId] FOREIGN KEY([KPICopyId])
REFERENCES [dbo].[KPICopies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KPICopyObjective] CHECK CONSTRAINT [FK_KPICopyObjective_KPICopies_KPICopyId]
GO
ALTER TABLE [dbo].[KPICopyObjective]  WITH CHECK ADD  CONSTRAINT [FK_KPICopyObjective_Objectives_ObjectiveId] FOREIGN KEY([ObjectiveId])
REFERENCES [dbo].[Objectives] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KPICopyObjective] CHECK CONSTRAINT [FK_KPICopyObjective_Objectives_ObjectiveId]
GO
ALTER TABLE [dbo].[KPICopyTags]  WITH CHECK ADD  CONSTRAINT [FK_KPICopyTags_KPICopies_KPICopyId] FOREIGN KEY([KPICopyId])
REFERENCES [dbo].[KPICopies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KPICopyTags] CHECK CONSTRAINT [FK_KPICopyTags_KPICopies_KPICopyId]
GO
ALTER TABLE [dbo].[KPICopyTags]  WITH CHECK ADD  CONSTRAINT [FK_KPICopyTags_Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KPICopyTags] CHECK CONSTRAINT [FK_KPICopyTags_Tags_TagId]
GO
ALTER TABLE [dbo].[KPIObjective]  WITH CHECK ADD  CONSTRAINT [FK_KPIObjective_KPIs_KPIId] FOREIGN KEY([KPIId])
REFERENCES [dbo].[KPIs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KPIObjective] CHECK CONSTRAINT [FK_KPIObjective_KPIs_KPIId]
GO
ALTER TABLE [dbo].[KPIObjective]  WITH CHECK ADD  CONSTRAINT [FK_KPIObjective_Objectives_ObjectiveId] FOREIGN KEY([ObjectiveId])
REFERENCES [dbo].[Objectives] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KPIObjective] CHECK CONSTRAINT [FK_KPIObjective_Objectives_ObjectiveId]
GO
ALTER TABLE [dbo].[KPIs]  WITH CHECK ADD  CONSTRAINT [FK_KPIs_DataCustodians_DataCustodianId] FOREIGN KEY([DataCustodianId])
REFERENCES [dbo].[DataCustodians] ([Id])
GO
ALTER TABLE [dbo].[KPIs] CHECK CONSTRAINT [FK_KPIs_DataCustodians_DataCustodianId]
GO
ALTER TABLE [dbo].[KPIs]  WITH CHECK ADD  CONSTRAINT [FK_KPIs_DataSponsors_DataSponsorId] FOREIGN KEY([DataSponsorId])
REFERENCES [dbo].[DataSponsors] ([Id])
GO
ALTER TABLE [dbo].[KPIs] CHECK CONSTRAINT [FK_KPIs_DataSponsors_DataSponsorId]
GO
ALTER TABLE [dbo].[KPIs]  WITH CHECK ADD  CONSTRAINT [FK_KPIs_MeasurmentUnits_MeasurmentUnitId] FOREIGN KEY([MeasurmentUnitId])
REFERENCES [dbo].[MeasurmentUnits] ([Id])
GO
ALTER TABLE [dbo].[KPIs] CHECK CONSTRAINT [FK_KPIs_MeasurmentUnits_MeasurmentUnitId]
GO
ALTER TABLE [dbo].[KPITags]  WITH CHECK ADD  CONSTRAINT [FK_KPITags_KPIs_KPIId] FOREIGN KEY([KPIId])
REFERENCES [dbo].[KPIs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KPITags] CHECK CONSTRAINT [FK_KPITags_KPIs_KPIId]
GO
ALTER TABLE [dbo].[KPITags]  WITH CHECK ADD  CONSTRAINT [FK_KPITags_Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KPITags] CHECK CONSTRAINT [FK_KPITags_Tags_TagId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_AspNetUsers_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_AspNetUsers_ReceiverId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_AspNetUsers_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_AspNetUsers_SenderId]
GO
ALTER TABLE [dbo].[Objectives]  WITH CHECK ADD  CONSTRAINT [FK_Objectives_MeasurmentUnits_MeasurmentUnitId] FOREIGN KEY([MeasurmentUnitId])
REFERENCES [dbo].[MeasurmentUnits] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Objectives] CHECK CONSTRAINT [FK_Objectives_MeasurmentUnits_MeasurmentUnitId]
GO
ALTER TABLE [dbo].[ObjectiveScorecards]  WITH CHECK ADD  CONSTRAINT [FK_ObjectiveScorecards_Objectives_ObjectiveId] FOREIGN KEY([ObjectiveId])
REFERENCES [dbo].[Objectives] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ObjectiveScorecards] CHECK CONSTRAINT [FK_ObjectiveScorecards_Objectives_ObjectiveId]
GO
ALTER TABLE [dbo].[ObjectiveScorecards]  WITH CHECK ADD  CONSTRAINT [FK_ObjectiveScorecards_Scorecards_ScorecardId] FOREIGN KEY([ScorecardId])
REFERENCES [dbo].[Scorecards] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ObjectiveScorecards] CHECK CONSTRAINT [FK_ObjectiveScorecards_Scorecards_ScorecardId]
GO
ALTER TABLE [dbo].[Strategies]  WITH CHECK ADD  CONSTRAINT [FK_Strategies_StrategyStatuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StrategyStatuses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Strategies] CHECK CONSTRAINT [FK_Strategies_StrategyStatuses_StatusId]
GO
ALTER TABLE [dbo].[StrategyScorecards]  WITH CHECK ADD  CONSTRAINT [FK_StrategyScorecards_Scorecards_ScorecardId] FOREIGN KEY([ScorecardId])
REFERENCES [dbo].[Scorecards] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StrategyScorecards] CHECK CONSTRAINT [FK_StrategyScorecards_Scorecards_ScorecardId]
GO
ALTER TABLE [dbo].[StrategyScorecards]  WITH CHECK ADD  CONSTRAINT [FK_StrategyScorecards_Strategies_StrategyId] FOREIGN KEY([StrategyId])
REFERENCES [dbo].[Strategies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StrategyScorecards] CHECK CONSTRAINT [FK_StrategyScorecards_Strategies_StrategyId]
GO
ALTER TABLE [dbo].[UnitKPI]  WITH CHECK ADD  CONSTRAINT [FK_UnitKPI_KPICopies_KPICopyId] FOREIGN KEY([KPICopyId])
REFERENCES [dbo].[KPICopies] ([Id])
GO
ALTER TABLE [dbo].[UnitKPI] CHECK CONSTRAINT [FK_UnitKPI_KPICopies_KPICopyId]
GO
ALTER TABLE [dbo].[UnitKPI]  WITH CHECK ADD  CONSTRAINT [FK_UnitKPI_UnitKPIRequests_UnitKPIRequestId] FOREIGN KEY([UnitKPIRequestId])
REFERENCES [dbo].[UnitKPIRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnitKPI] CHECK CONSTRAINT [FK_UnitKPI_UnitKPIRequests_UnitKPIRequestId]
GO
ALTER TABLE [dbo].[UnitKPI]  WITH CHECK ADD  CONSTRAINT [FK_UnitKPI_UnitKPIStatuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[UnitKPIStatuses] ([Id])
GO
ALTER TABLE [dbo].[UnitKPI] CHECK CONSTRAINT [FK_UnitKPI_UnitKPIStatuses_StatusId]
GO
ALTER TABLE [dbo].[UnitKPIRequestHistories]  WITH CHECK ADD  CONSTRAINT [FK_UnitKPIRequestHistories_AspNetUsers_RequestedById] FOREIGN KEY([RequestedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnitKPIRequestHistories] CHECK CONSTRAINT [FK_UnitKPIRequestHistories_AspNetUsers_RequestedById]
GO
ALTER TABLE [dbo].[UnitKPIRequestHistories]  WITH CHECK ADD  CONSTRAINT [FK_UnitKPIRequestHistories_UnitKPIRequestStatuses_UnitKPIRequestStatusId] FOREIGN KEY([UnitKPIRequestStatusId])
REFERENCES [dbo].[UnitKPIRequestStatuses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnitKPIRequestHistories] CHECK CONSTRAINT [FK_UnitKPIRequestHistories_UnitKPIRequestStatuses_UnitKPIRequestStatusId]
GO
ALTER TABLE [dbo].[UnitKPIRequests]  WITH CHECK ADD  CONSTRAINT [FK_UnitKPIRequests_OrganizationUnits_OrganizationUnitId] FOREIGN KEY([OrganizationUnitId])
REFERENCES [dbo].[OrganizationUnits] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnitKPIRequests] CHECK CONSTRAINT [FK_UnitKPIRequests_OrganizationUnits_OrganizationUnitId]
GO
ALTER TABLE [dbo].[UnitKPIRequests]  WITH CHECK ADD  CONSTRAINT [FK_UnitKPIRequests_ProcessInstances_ProcessInstanceId] FOREIGN KEY([ProcessInstanceId])
REFERENCES [dbo].[ProcessInstances] ([Id])
GO
ALTER TABLE [dbo].[UnitKPIRequests] CHECK CONSTRAINT [FK_UnitKPIRequests_ProcessInstances_ProcessInstanceId]
GO
ALTER TABLE [dbo].[UnitKPIRequests]  WITH CHECK ADD  CONSTRAINT [FK_UnitKPIRequests_Strategies_StrategyId] FOREIGN KEY([StrategyId])
REFERENCES [dbo].[Strategies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnitKPIRequests] CHECK CONSTRAINT [FK_UnitKPIRequests_Strategies_StrategyId]
GO
ALTER TABLE [dbo].[UnitKPIRequests]  WITH CHECK ADD  CONSTRAINT [FK_UnitKPIRequests_UnitKPIRequestStatuses_UnitKPIRequestStatusId] FOREIGN KEY([UnitKPIRequestStatusId])
REFERENCES [dbo].[UnitKPIRequestStatuses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnitKPIRequests] CHECK CONSTRAINT [FK_UnitKPIRequests_UnitKPIRequestStatuses_UnitKPIRequestStatusId]
GO
ALTER TABLE [dbo].[UserHistoryLogs]  WITH CHECK ADD  CONSTRAINT [FK_UserHistoryLogs_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserHistoryLogs] CHECK CONSTRAINT [FK_UserHistoryLogs_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserPermissionGroups]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissionGroups_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissionGroups] CHECK CONSTRAINT [FK_UserPermissionGroups_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserPermissionGroups]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissionGroups_PermissionGroups_PermissionGroupId] FOREIGN KEY([PermissionGroupId])
REFERENCES [dbo].[PermissionGroups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissionGroups] CHECK CONSTRAINT [FK_UserPermissionGroups_PermissionGroups_PermissionGroupId]
GO
ALTER TABLE [dbo].[UserTasks]  WITH CHECK ADD  CONSTRAINT [FK_UserTasks_ProcessInstances_ProcessInstanceId] FOREIGN KEY([ProcessInstanceId])
REFERENCES [dbo].[ProcessInstances] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTasks] CHECK CONSTRAINT [FK_UserTasks_ProcessInstances_ProcessInstanceId]
GO
USE [master]
GO
