<ng-container [formGroup]="form">
  <div class="col-md-12">
    <div class="form-group">
      <div class="form-input-group">
        <input
          type="text"
          id=""
          [placeholder]="'Enter Captcha'"
          [isSubmitted]="isSubmitted"
          [appInputBehaveClass]="captchaControl"
          [formControlName]="controlName"
          maxlength="6"
          class="form-control"
        />
        <span class="focus-input"></span>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="captcha-img form-input-group">
      <!-- <label class="">&nbsp;</label> -->
      <div>
        <img
          style="border: 1px solid #ced4da"
          [src]="config.imageUrl"
        />
        <i class="fas fa-sync align-middle" style="margin: 5%" (click)="refreshCaptcha(true)"></i>
      </div>
    </div>
  </div>
</ng-container>
