<div class="card">
    <div class="card-header">
        <h3 class="card-title">Attachments Management</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" (click)="close()">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>

    <div class="card-body">
        <file-upload [control]="fileUploadControl" [multiple]="multiple" [animation]="animation">
        </file-upload>
    </div>

    <div class="modal-footer justify-content-between">
        <button type="button" (click)="download()" class="btn btn-outline-success">
            <i class="fa fa-download" aria-hidden="true"></i>
            Download
        </button>
        <button type="button" (click)="upload()" class="btn btn-primary" [disabled]="viewOnly">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            Save
        </button>
    </div>
</div>


<!-- <file-upload [control]="fileUploadControl"></file-upload>

<div class="files-row">
    <div class="file-list">
        <h6>Uploaded files</h6>
        <div class="file-item" *ngFor="let file of fileUploadControl.value"
            (click)="fileUploadControl.removeFile(file)">
            {{ file.name }}
        </div>
    </div>

    <div class="file-list">
        <h6>Discarded files</h6>
        <div class="file-item" *ngFor="let discarded of fileUploadControl.discardedValueChanges | async">
            {{ discarded.file.name }}
        </div>
    </div>
</div> -->