<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login | Simah</title>

</head>

<body style="background: url('../../../../../../assets/images/SIMAH_BG.jpg')">
    <div class="login-dark">
        <!-- <div class="col-3"></div> -->

        <div class="centerDiv">

            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <!-- <h2 style="text-align: center; font-family: sans-serif;">KPI SYSTEM</h2> -->

                <div class="illustration">
                    <img src="../../../../../assets/images/logo_White.png" />
                </div>

                <!-- <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div> -->

                <div class="form-group">
                    <input class="form-control" type="password" name="password" formControlName="password" id="password"
                        placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="none"
                        spellcheck="false" [ngClass]="{ 'is-invalid': submitted && formFileds['password'].errors }"
                        [ngClass]="{ 'is-valid': submitted && !formFileds['password'].errors }">

                    <div class="validation-div text-danger">
                        <span *ngIf="(submitted && formFileds['password'].errors) && 
                                        (formFileds['password'].errors['required'])">
                            Value is Mandatory
                        </span>
                    </div>

                    <div class="validation-div text-danger">
                        <span
                            *ngIf="(submitted && formFileds['password'].errors) && (formFileds['password'].errors['minlength'])">
                            Passwords must be at least six characters long.
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirmPassword" formControlName="confirmPassword"
                        id="confirmPassword" placeholder="Confirm Password"
                        [ngClass]="{ 'is-invalid': submitted && formFileds['confirmPassword'].errors }"
                        [ngClass]="{ 'is-valid': submitted && !formFileds['confirmPassword'].errors }">
                    <div class="validation-div text-danger">
                        <span *ngIf="(submitted && formFileds['confirmPassword'].errors) && 
                                        (formFileds['confirmPassword'].errors['required'])">
                            Value is Mandatory
                        </span>
                    </div>

                    <div class="validation-div text-danger">
                        <span
                            *ngIf="(submitted && formFileds['confirmPassword'].errors) && ( formFileds['confirmPassword'].errors['minlength'])">
                            Passwords must be at least six characters long.
                        </span>
                    </div>
                </div>

                <div class="validation-div text-danger">
                    <span *ngIf="submitted && resetPasswordForm.errors?.['notSame']">
                        Passwords need to match
                    </span>
                </div>

                <div class="validation-div text-danger">
                    <span *ngIf="(submitted && formFileds['confirmPassword'].errors) && 
                                    (formFileds['confirmPassword'].errors['pattern'])">
                        The password should contain: (uppercase character, lowercase character, a number, and a
                        special character.)
                    </span>
                </div>

                <div class="form-group"><button type="submit" class="btn btn-primary btn-block">Submit</button></div>
                <a class="forgot" href="/login">Back to login page</a>
            </form>
        </div>

        <!-- <div class="col-3"></div> -->
    </div>

</body>